<div>
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="onChange($event)">  
        <mat-tab label="Line">
            <ng-template matTabContent>
                <app-line-chart></app-line-chart>
            </ng-template>
        </mat-tab>  
        <mat-tab label="Bar">
            <ng-template matTabContent>
                <app-bar-chart></app-bar-chart>
            </ng-template>
        </mat-tab>  
        <mat-tab label="Scatter">
            <ng-template matTabContent>
                <app-scatter-chart></app-scatter-chart>
            </ng-template>
         </mat-tab>  
    </mat-tab-group>
</div>