<div>
    <mat-tab-group mat-align-tabs="center" animationDuration="500ms" (selectedTabChange)="onChange($event)">  
        <mat-tab label="Line">
            <app-line-chart></app-line-chart>
        </mat-tab>  
        <mat-tab label="Bar">
            <app-bar-chart></app-bar-chart>
        </mat-tab>
        <mat-tab label="Doughnut">
            <app-doughnut-chart></app-doughnut-chart>
        </mat-tab>  
        <mat-tab label="Scatter">
            <app-scatter-chart></app-scatter-chart>            
         </mat-tab>  
    </mat-tab-group>
</div>